@page "{id:int?}"

@using Microsoft.AspNetCore.Mvc.Localization;
@using AleProjects.Cms.Web;
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<SharedErrors> ErrorsLocalizer
@inject IViewLocalizer Localizer

@model AleProjects.Cms.Web.Pages.WebhooksModel

@{
	Layout = "Shared/_Layout.cshtml";
}

<q-dialog v-model="newWebhookProps" no-backdrop-dismiss>
	<q-card style="min-width: 500px">
		<q-card-section class="row items-center">
			<div class="text-h6">@Localizer["NewWebhook"]</div>
		</q-card-section>

		<q-card-section class="q-pt-none">

			<q-input v-model="newWebhook.endpoint"
				autofocus
				label="@Localizer["Endpoint"]"
				ref="NewWebhookEndpoint"
				:rules="[val => !!val || '@ErrorsLocalizer["Validation_Required"]', val => val.length <= 260 || '@ErrorsLocalizer["Validation_MaxLen260"]']">
			</q-input>

			<q-input v-model.number="newWebhook.rootDocument"
				autofocus
				label="@Localizer["RootDocument"]"
				type="number"
				ref="NewWebhookRootDocument"
				:rules="[val => /^[0-9]+$/.test(val) || '@ErrorsLocalizer["Validation_Int"]']">
			</q-input>

		</q-card-section>

		<q-card-actions align="right">
			<q-btn flat label="@SharedLocalizer["OK"]" color="primary" :disabled="!newWebhook.endpoint" @@click="createWebhook()"></q-btn>
			<q-btn flat label="@SharedLocalizer["Cancel"]" color="primary" v-close-popup></q-btn>
		</q-card-actions>
	</q-card>
</q-dialog>

<q-dialog v-model="editedWebhookProps" no-backdrop-dismiss>
	<q-card style="min-width: 500px">
		<q-card-section class="row items-center">
			<div class="text-h6">@Localizer["Webhook"]</div>
		</q-card-section>

		<q-card-section class="q-pt-none">
			<div class="text-caption text-grey-7">Id : {{ editedWebhook.id }}</div>

			<q-input v-model="editedWebhook.endpoint"
				autofocus
				label="@Localizer["Endpoint"]"
				ref="WebhookEndpoint"
				:rules="[val => !!val || '@ErrorsLocalizer["Validation_Required"]', val => val.length <= 260 || '@ErrorsLocalizer["Validation_MaxLen260"]']">
			</q-input>

			<q-input v-model.number="editedWebhook.rootDocument"
				autofocus
				label="@Localizer["RootDocument"]"
				type="number"
				ref="WebhookRootDocument"
				:rules="[val => /^[0-9]+$/.test(val) || '@ErrorsLocalizer["Validation_Int"]']">
			</q-input>

			<q-checkbox v-model="editedWebhook.enabled"
				class="q-pb-md"
				label="@Localizer["EnabledLabel"]"
				ref="WebhookEnabled" >
			</q-checkbox>

			<q-input v-model="editedWebhook.secret"
				readonly
				class="q-mb-md"
				label="@Localizer["Secret"]"
				ref="WebhookSecret">
			</q-input>

			<q-checkbox v-model="resetSecret"
				class="q-pb-md"
				label="@Localizer["ResetSecret"]"
				ref="WebhookResetSecret">
			</q-checkbox>
		</q-card-section>

		<q-card-actions align="right">
			<q-btn flat label="@SharedLocalizer["OK"]" color="primary" :disabled="!editedWebhook.endpoint" @@click="updateWebhook()"></q-btn>
			<q-btn flat label="@SharedLocalizer["Cancel"]" color="primary" v-close-popup></q-btn>
		</q-card-actions>
	</q-card>
</q-dialog>

<q-dialog v-model="deleteWebhookConfirm" no-backdrop-dismiss>
	<q-card>
		<q-card-section class="row items-center">
			<div class="text-h6">@Localizer["DeleteWebhook"]</div>
		</q-card-section>

		<q-card-section class="row items-center">
			<q-icon name="help_outline" color="secondary" size="md"></q-icon>
			<span class="q-ml-sm">@Localizer["DeleteWebhookText"]</span>
		</q-card-section>

		<q-card-actions align="right">
			<q-btn flat label="@SharedLocalizer["Yes"]" color="primary" @@click="deleteWebhook()"></q-btn>
			<q-btn flat label="@SharedLocalizer["No"]" color="primary" v-close-popup></q-btn>
		</q-card-actions>
	</q-card>
</q-dialog>


<div class="q-gutter-md q-pa-md" :style="{'max-height': pageHeight}">
	<h5>@Localizer["Webhooks"]</h5>

	<q-list>
		<q-separator></q-separator>

		<div v-for="(w,idx) in webhooks">

			<q-item clickable v-ripple @@click="startUpdateWebhook(w.id)">
				<q-item-section>
					<q-item-label lines="1">
						{{ w.endpoint }} <q-badge align="middle" color="red" v-if="!w.enabled"><q-icon name="block" color="white" /></q-badge>
					</q-item-label>
					<q-item-label caption lines="1">@Localizer["Root document"]: {{ w.rootDocument }}</q-item-label>
				</q-item-section>

				<q-item-section side>
					<q-btn size="md" flat dense round icon="delete" v-on:click.stop="startDeleteWebhook(w.id)">
						<q-tooltip>@Localizer["DeleteWebhook"]</q-tooltip>
					</q-btn>
				</q-item-section>
			</q-item>

			<q-separator></q-separator>
		</div>

	</q-list>
</div>

@section Commands
{
	<q-btn flat round icon="add" @@click="startNewWebhook()">
		<q-tooltip>@Localizer["Add"]</q-tooltip>
	</q-btn>
}

@section Scripts
	{
	<script src="~/js/webhooks.js"></script>
	<script src="https://unpkg.com/@@msgpack/msgpack"></script>
	<script>
		const app = Vue.createApp(vueAppOptions);
		app.use(Quasar, { config: { loadingBar: { color: "info" }}});
		Quasar.lang.set(Quasar.lang.@(SharedLocalizer["Language"]));
		app.mount('#q-app')
	</script>
}