@using Microsoft.AspNetCore.Mvc.Localization
@using HCms.ViewModels
@inject HCms.Routing.IPathTransformer PathTransformer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Fragment

@{
	string id = Model.DomId;
	string title = Model.Props.title;
	string look = Model.Props.look;
	string root = Model.Document.Root.Slug;

	string MoreLabel = Model.Attributes?.GetValueOrDefault("MoreButtonLabel");

	if (string.IsNullOrEmpty(MoreLabel))
		MoreLabel = SharedLocalizer["More"].Value;

	Document[] docs = Model.Document.Children;
	int n = docs.Length;

	string extraFragmentClass = Model.Attributes?.GetValueOrDefault("bootstrap:class");
}

<div id="@id" class="directory-@look-fragment @extraFragmentClass">

@if (n != 0 && !string.IsNullOrEmpty(title))
{
	<h3>@title</h3>
}

@if (look == "default")
{
	<ul class="list-group list-group-light">
		@foreach (var doc in docs)
		{
			<li class="list-group-item"><a href="@PathTransformer.Forward(doc.Path, false, root)">@doc.Title</a></li>
		}
	</ul>
}
else if (look == "expandable")
{
	<div class="accordion accordion-flush">
		@for (int i = 0; i < n; i++)
		{
			<div class="accordion-item">
				<h2 id="@id-heading-@i" class="accordion-header">
					<button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-target="#@id-body-@i">
						@docs[i].Title
					</button>
				</h2>
				<div id="@id-body-@i" class="accordion-collapse collapse">
					<div class="accordion-body">
						<div class="directory-summary">
							@Html.Raw(docs[i].Summary)
						</div>
						<div class="directory-open-doc">
							<a class="btn btn-primary" href="@PathTransformer.Forward(docs[i].Path, false, root)">@MoreLabel</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}
else if (look == "grid" || look == "blog")
{
	<div class="container g-0">
		<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
			@foreach (var doc in docs)
			{
				<div class="col">
					<div class="card h-100">
						@if (!string.IsNullOrEmpty(doc.CoverPicture))
						{
							<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
								<img src="@PathTransformer.Forward(doc.CoverPicture, true, root)" class="img-fluid" alt="@doc.Title" />
								<a href="@PathTransformer.Forward(doc.Path, false, root)" alt="@doc.Title">
									<div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
								</a>
							</div>
						}
						<div class="card-body">
							<h3 class="card-title>">@doc.Title</h3>
							<div class="card-text">@Html.Raw(doc.Summary)</div>
						</div>
						<div class="mx-4 mb-4">
							<a class="btn btn-primary" href="@PathTransformer.Forward(doc.Path, false, root)" alt="@doc.Title">@MoreLabel</a>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
}

</div>